[core]
	editor = \"C:/Users/Elwarraky/AppData/Local/Programs/Microsoft VS Code/bin/code\" --wait
[user]
	name = {{ ansible_user}}
	email = {{ ansible_email }}
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
